html {
    font-family: sans-serif;
  }
  body {
    background-color: black;
    background-image: url(../images/crystal-ball.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    text-align: center;
    margin-top:120px;
    line-height: 25px;
    
  }
  .lastResult {
    color: white;
    padding: 3px;
  }

  h1, p ,.container, .resultTally {
    margin-left: -50px;
  }


footer {
    clear: both;
    overflow: auto;
    background: #666666;
    color: white;
    text-align: center;
    /* padding-top: 20px; */
    padding-bottom: 5px;
    border-top: 4px solid purple;
    /* to make a sticky footer */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
    }